@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
*{
    font-family: "Montserrat", sans-serif;
}

.chat__btn{
    background: rgb(0, 0, 0);
    text-align: center;
    color: white;
    width: 200px;
    height: 50px;
}

.chat__input{
    width: 300px;
    height: 50px;
    margin-left: 20px;
   
}

.chat__body{
    margin-left: 20px;
    width: 300px;
    margin-right: 0px;

}


.chat{

    height: 100vh;
    width: 600px;
    background-image: url("https://images-ext-1.discordapp.net/external/Qf_DuWus1A_WLJggL8Qig1ZrIdl81ptnPl3M9_eGMp0/https/static1.lasprovincias.es/www/multimedia/201904/08/media/cortadas/136423772--624x934.jpg?width=409&height=612");
    background-size: cover;
    justify-content: right;
    height: 100vh;
    overflow:scroll ;
    position: relative;
}
.chat__info{
    background: white;
    text-align: center;
    border-radius: 10px;
    color: black;
    width: 300px;
    padding: 0.1px;
    margin:10px 10px 0px 0px;
    right: 0px;
}

.chat__control{
    margin-top: 20px;
    bottom: 0px;
    padding-top: 6%;
    position: fixed;
}
.message{
    width: 0px;
}

.body{
display: flex;
justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;

   
    &__label{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

.hidden {
    display: none;
  }

  .authSignout{
    background: black;
    text-align: center;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
  }